server:
  port: 0

spring:
  application:
    name: user-service

  output:
    ansi:
      enabled: always

  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
      path: /h2-console

#  datasource:
#    driver-class-name: org.h2.Driver
#    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;
#    username: sa
#    password:

  jpa:
    hibernate:
      ddl-auto: update

  security:
    user:
      name: user
      password: $2a$10$mWTLVTAHDILi3zGbd0EUU.Mew49uPJMUUh.5yUg4DnlVKWlcp5bWq

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  zipkin:
    base-url: http://localhost:9411
    enabled: true

logging:
  level:
    com.example.userservice.client: DEBUG
  pattern:
    correlation: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include:
          - refresh
          - health
          - beans
          - info
          - busrefresh
          - info
          - metrics
          - prometheus

  tracing:
    sampling:
      probability: 1.0
    propagation:
      consume: B3
      produce: B3

  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans