server:
  port: 0

spring:
  application:
    name: order-service

  output:
    ansi:
      enabled: always

#  h2:
#    console:
#      enabled: true
#      settings:
#        web-allow-others: true
#      path: /h2-console
#
#  datasource:
#    driver-class-name: org.h2.Driver
#    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;
#    username: sa
#    password:

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: update

  kafka:
    bootstrap-servers: localhost:9092

  zipkin:
    base-url: http://localhost:9411
    enabled: true

logging:
  level:
    com.example.orderservice: DEBUG
  pattern:
    correlation: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - httpexchanges
          - info
          - metrics
          - prometheus

  tracing:
    sampling:
      probability: 1.0
    propagation:
      consume: B3
      produce: B3

  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
