server:
  port: 8000

spring:
  application:
    name: api-gateway-service

  output:
    ansi:
      enabled: always

  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - name: GlobalFilter
              args:
                baseMessage: Spring Cloud Gateway Global Filter
                preLogger: true
                postLogger: true
          routes:
            - id: user-service-register
              uri: lb://USER-SERVICE
              predicates:
                - Path=/user-service/users
                - Method=POST
              filters:
                - RemoveRequestHeader=Cookie
                - RewritePath=/user-service/(?<segment>.*), /$\{segment}

            - id: user-service-login
              uri: lb://USER-SERVICE
              predicates:
                - Path=/user-service/login
                - Method=POST
              filters:
                - RemoveRequestHeader=Cookie
                - RewritePath=/user-service/(?<segment>.*), /$\{segment}

            - id: user-service-actuator
              uri: lb://USER-SERVICE
              predicates:
                - Path=/user-service/actuator/**
              filters:
                - RewritePath=/user-service/(?<segment>.*), /$\{segment}

            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/user-service/**
                - Method=GET
              filters:
                - RemoveRequestHeader=Cookie
                - RewritePath=/user-service/(?<segment>.*), /$\{segment}
                - AuthorizationHeaderFilter

            - id: catalog-service
              uri: lb://CATALOG-SERVICE
              predicates:
                - Path=/catalog-service/**
              filters:
                - RewritePath=/catalog-service/(?<segment>.*), /$\{segment}
                - AuthorizationHeaderFilter

            - id: order-service-actuator
              uri: lb://ORDER-SERVICE
              predicates:
                - Path=/order-service/actuator/**
              filters:
                - RewritePath=/order-service/(?<segment>.*), /$\{segment}

            - id: order-service
              uri: lb://ORDER-SERVICE
              predicates:
                - Path=/order-service/**
              filters:
                - RewritePath=/order-service/(?<segment>.*), /$\{segment}
                - AuthorizationHeaderFilter

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include:
          - refresh
          - health
          - beans
          - info
          - httpexchanges
          - busrefresh
          - metrics
          - prometheus